* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EAEBEF;
}

.nav {
    width: 300px;
}

.list {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
    background-color: white;
}

.listItem {
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.listItem--click {
    cursor: pointer;
}

.listButton {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.arrow .listArrow {
    transform: rotate(90deg);
} 

.listArrow {
    margin-left: auto;
    transition: transform .3s;
}

.navLink--inside {
    border-radius: 6px;
    padding-left: 20px;
}

.navLink--inside:hover {
    background-color: #e4e5e6;
}

.navLink {
    color: #303440;
    display: block;  /*Para poder darle un margen*/
    padding: 15px 0;
    text-decoration: none;
}

.listShow {
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
}